body {
  background-color:black;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
 
}

.navigation {
  grid-column:span 12;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: "gunplay-spraypaint", sans-serif;
font-weight: 400;
font-style: normal;
}



body {
    background-color: rgb(124, 7, 191);
    
}


.navigation {
    border-bottom: 5px solid rgb(0, 0, 0);
    background: rgb(0, 0, 0);
  
}

.main2 {
  border: 5px solid black;
  grid-column: span 12;
  font-family: "gunplay-damage", sans-serif;
font-weight: 400;
font-style: normal;
font: size 80px;
}



.resize {
  width:300px;
  margin: 20px;
}



