
header {
    font-family: "gunplay-spraypaint", sans-serif;
    text-align: center;
}
header a {

    color:limegreen;
    text-decoration:none;

}

header a:hover {
    color:white;
}

header a:visited {
    color:limegreen;
    text-decoration:none;
}

.round {
  border-radius: 50px;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bio p {
color:limegreen;
text-shadow: 2px 2px 2px black;
}
 







  
   
  .songs {
    background-color:rgb(124, 7, 191);
    grid-column: span 12;
}



main p {
  font-family: "gunplay-damage", sans-serif;
  font-weight: 400;
  font-style: normal;
  font: size 80px;
  color:limegreen;
}

.videobox {
  border: 10px solid limegreen;
  margin-bottom:10px;
}

