.ots {
    grid-column:span 6;
   
  }
.cdg {
    grid-column:span 6;
}

section {
    grid-column:span 6;
}

.infobox {
    grid-column: span 3;
}

.videobox {
    grid-column:span 9;
}

#myCarousel {
   
    grid-column:span 12;
  }
  
  #myCarousel .f-carousel__slide {
    text-align: center;
    padding-bottom: -5px;
    border: 20px solid rgb(124, 7, 191);
    background:transparent;
    border-radius: 20px;
}

.hunnid {
    width:100%;
}

.unreleased {
    grid-column: span 3;
}

.embed {
    grid-column: span 9;
}