
header {
    font-family: "gunplay-spraypaint", sans-serif;
    text-align: center;
}
header a {

    color:limegreen;
    text-decoration:none;

}

header a:hover {
    color:white;
}

header a:visited {
    color:limegreen;
    text-decoration:none;
}

.bio {
  background-image: url(cook.jpg);
  width: 290 px;
  padding: 333px;
  border-radius: 50px;
}

.bio p {
color:limegreen;
text-shadow: 2px 2px 2px black;
}
 






.ots {
    grid-column:span 6;
   
   
  }

  .cdg {
    grid-column:span 6;
    
  }
  
  
   
  .songs {
    background-color:rgb(124, 7, 191);
    grid-column: span 12;
}


section {
    grid-column:span 6;
}

#myCarousel {
  margin-bottom: 24px;
}

#myCarousel .f-carousel__slide {
  text-align: center;
  padding: 24px;
  background: #eee;
}