
header {
    font-family: "gunplay-spraypaint", sans-serif;
    text-align: center;
    font-size: 36px;
    text-shadow: 10px 10px 10px black;
}
header a {

    color:limegreen;
    text-decoration:none;

}

header a:hover {
    color:white;
}

header a:visited {
    color:limegreen;
    text-decoration:none;
}

.round {
  border-radius: 50px;
  border: 10px solid limegreen;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bio p {
color:limegreen;
text-shadow: 2px 2px 2px black;
}
 







  
   
  .songs {
    background-color:rgb(124, 7, 191);
    grid-column: span 12;
}



main p {
  font-family: "gunplay-damage", sans-serif;
  font-weight: 400;
  font-style: normal;
  font: size 80px;
  color:limegreen;
}

.videobox {
  margin-bottom:10px;
  margin-top:10px;
  border-radius: 10px;
}

.vid {
  border: 10px solid limegreen;
  border-radius:50px;
}

.container p {
  color:white;
  text-shadow: 3px 3px 3px limegreen ;
}

body {
  background-image:url(MANGA.jpeg);
}

.videobox2 {
  margin-bottom:10px;
  margin-top:10px;
  border-radius: 10px;
  grid-column:span 6;
}